body{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px; 
    position: relative;
    color: #666;
  }
  .img-responsive {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .img-responsive:hover{
    opacity: 0.6;
  }
  .img1:hover{
    opacity: 0.1;
  }
  .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  a:link {
    color:black;
    text-decoration:none;

  }

  a:visited {
    color:black;
    text-decoration:none;
  }

  a:hover {
    color:#b1b2b5;
    text-decoration:none;
  }
  .topbar{
   background-color: black;
   color:white;
   height: 30px;
   width: 100%;
   line-height: 30px;
   text-align: center;  
 }
 .bottombar{
  width: 100%;
  background-color: #edeff2;
  height: auto;

 }
 .affix{
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.mainmenu{
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 1200px;
  width: 100%;
}
.logo{
 width: 300px;
 height: 60px;
 position: center;
 background-color: red; 
}      